<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinturas Pauly</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icono.ico">
</head>
<body>
    <!--HEADER-->
    <header>
        <div>
            <h1>El valor de tu historia</h1>
        </div>     
    </header>
    <!--BARRA DE NAVEGACION-->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="../views/cartelesDeDireccion.html">Carteles de Dirección</a>
        <a href="../views/cuadros.html">Cuadros</a>
        <a href="https://catalogodearticulospinturaspauly.blogspot.com/2021/03/mates-personalizados.html?m=1">Mates</a>
        <a href="https://catalogodearticulospinturaspauly.blogspot.com/2023/02/carpetas.html?m=1">Carpetas</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <!--FORMULARIO-->
    <form action="">
        <fieldset>
            <legend>Contacto</legend>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" placeholder="Nombre" required>
            <label for="Lname">Apellido</label>
            <input type="text" name="Lname" id="Lname" placeholder="Apellido" required>
            <label for="Email">e-mail</label>
            <input type="email" name="Email" id="Email" placeholder="ejemplo@ejemplo.com" required>
            <label for="date">Fecha de Nacimiento</label>
            <input type="date" name="date" id="date" placeholder="dd/mm/aaaa" required>
            <label for="comment">Dejá tu Comentario</label>
            <textarea name="comment" id="comment"></textarea>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </fieldset>
    </form>
    <!--FOOTER-->
    <footer>
        <p>&copy; Leonardo Giardini, Potrero Digital 2024</p>
    </footer>
</body>
</html>